
.floorplan {
  margin-bottom: 2em;
}

.floorplan-details {
    margin-bottom: 1em;
  text-align: center;
}

.floorplan span {
  display: block;
  font-size: 1.1em;
  margin: 0 0 1em 0;
}

.floorplan .floorplan-details h4{
  font-size: 1.2em;
  font-weight: bold;
}

@media screen and (min-width: 650px){
  .floorplan:nth-child(2n+1) {
      clear: left;
  }
  .floorplan {
    float: left;
    width: 48%;
    padding-right: 2em;
    text-align: center;
  }

  .floorplan > #tier1 {
      width: 70%;
  }
}


@media screen and (min-width: 1200px){
  .floorplan:nth-child(2n+1) {
      clear: none;
  }

  /*.floorplan:nth-child(4n+1) {
      clear: left;
  }
  */
  .floorplan {
    width: 25%;
  }
}